@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root:not(.dark) {
  color-scheme: light;
  color: #1a1a1a;
  background-color: #ffffff;
}

:root.dark {
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;
}

body {
  margin: 0;
  display: flex;
  min-width: 1280px;
  min-height: 600px;
}

@media (max-width: 1280px) {
  body {
    min-width: 100%;
  }
}

#root {
  width: 100%;
  height: 100vh;
}

* {
  box-sizing: border-box;
}
